<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>みんなの投稿一覧</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @posts.each do |post| %>
        <div class="col-md-7 border border-dark border border-5 rounded">
          <%= post.user.name %>
          <span class="row border-bottom border-dark border"></span>
          <%= link_to public_post_path(post.id), class: "nav-link text-dark" do %>
            <%= post.text %>
            <div class="row" style="height:20px;"></div>
            <span class="row border-bottom border-dark border-2"></span>
            <p>コメント <%= post.comments.count %>件</p>
          <% end %>
        </div>
        <div class="row" style="height:15px;"></div>
      <% end %>
    </div>
  </div>
</div>