<div class="container">
  <div class="row" style="height:50px;"></div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="col-md-5.5 border border-dark border border-5 rounded">
        <div class="d-flex align-items-center justify-content-center" style="height:250px;">
          全て吐き出せたかな？<br>
          まだモヤモヤしているのなら<br>
          近くの友人、家族、上司や同期に<br>
          相談してみるのもいいと思うよ<br>
          ココではいつでもあなたの味方だから<br>
          いつでもおいで
        </div>
      </div>
    </div>
  </div>
</div>