<div class="container">
  <div class="row" style="height:50px;"></div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="col-md-5.5 border border-dark border border-5 rounded">
        <div class="d-flex align-items-center justify-content-center" style="height:250px;">
          心に溜まった<br>
          「辛い」「悲しい」「虚しい」「苦しい」<br>
          全てのネガティブを吐き出して<br>
          ココはあなたを慰める場所<br>
          新規登録、ログインして<br>
          感情を言葉にして置いて行ってね<br>
          ゲストログインでは閲覧ができるよ<br>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:50px;"></div>
  <div class="row ">
    <div class="col-md-3 mx-auto ">
      <%= link_to new_user_registration_path, class:"btn btn-outline-primary" do %>
        新規登録
      <% end %>
    </div>
    <div class="col-md-3 mx-auto">
      <%= link_to new_user_session_path, class:"btn btn-outline-success" do %>
        ログイン
      <% end %>
    </div>
    <div class="col-md-3 mx-auto">
      ゲストログイン
    </div>
  </div>
</div>