<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>退会ページだよ</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="col-md-10 border border-dark border border-5 rounded">
        <div class="d-flex align-items-center justify-content-center" style="height:200px;">
          <p>
            <strong>本当に退会する？</strong><br>
            退会したら 登録情報や<br>
            これまでの投稿、コメント、いいねが<br>
            見れなくなるよ<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-5.5 mx-auto">
      <%= link_to "やっぱり退会しない", users_my_page_path, class:"btn btn-sm btn-success" %>
    </div>
  </div>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-5.5 mx-auto">
      <%= link_to "それでも退会する", users_withdraw_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class:"btn btn-sm btn-danger" %>
    </div>
  </div>
</div>